In [1]:
import pandas as pd

In [2]:
orders = pd.read_csv('orders.csv')

In [3]:
orders.head(10)

   order_id        date      time
0         1  2015-01-01  11:38:36
1         2  2015-01-01  11:57:40
2         3  2015-01-01  12:12:28
3         4  2015-01-01  12:16:31
4         5  2015-01-01  12:21:30
5         6  2015-01-01  12:29:36
6         7  2015-01-01  12:50:37
7         8  2015-01-01  12:51:37
8         9  2015-01-01  12:52:01
9        10  2015-01-01  13:00:15

In [4]:
orders = pd.read_csv('orders.csv')
order_details = pd.read_csv('order_details.csv')
pizzas = pd.read_csv('pizzas.csv')
pizza_types = pd.read_csv('pizza_types.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x91 in position 1710: invalid start byte

In [ ]:
orders = pd.read_csv("orders.csv", encoding="latin1")
order_details = pd.read_csv("order_details.csv", encoding="latin1")
pizzas = pd.read_csv("pizzas.csv", encoding="latin1")
pizza_types = pd.read_csv("pizza_types.csv", encoding="latin1")

In [ ]:
merged = order_details.merge(pizzas, on="pizza_id")
merged = merged.merge(pizza_types, on="pizza_type_id")
merged = merged.merge(orders, on="order_id")

In [ ]:
total_revenue = (merged['price'] * merged['quantity']).sum()

In [ ]:
total_quantity = merged['quantity'].sum()

In [ ]:
total_orders = orders['order_id'].nunique()

In [ ]:
pizza_type_count = pizza_types['pizza_type_id'].nunique()

In [ ]:
average_price = pizzas['price'].mean()

In [ ]:
orders['time'] = pd.to_datetime(orders['time'], format='%H:%M:%S')
orders['hour'] = orders['time'].dt.hour
hourly_sales = orders.merge(order_details, on='order_id')
hourly_sales['hour'] = pd.to_datetime(hourly_sales['time'], format='%H:%M:%S').dt.hour
hourly_sales.groupby('hour')['quantity'].sum().plot(kind='bar')

In [ ]:
orders['date'] = pd.to_datetime(orders['date'])
orders['day_of_week'] = orders['date'].dt.day_name()
day_sales = orders.merge(order_details, on='order_id')
day_sales['sales'] = day_sales['quantity'] * merged['price']
day_sales.groupby('day_of_week')['sales'].sum().sort_values(ascending=False)

In [ ]:
merged.groupby('pizza_type_id')['quantity'].sum().sort_values(ascending=False).head(5)

In [ ]:
orders['month'] = orders['date'].dt.to_period('M')
monthly_sales = orders.merge(order_details, on='order_id')
monthly_sales['sales'] = monthly_sales['quantity'] * merged['price']
monthly_sales.groupby('month')['sales'].sum().plot(kind='line')

In [ ]:
merged.groupby('pizza_type_id')['quantity'].sum().sort_values().head(5)